{% if site.navbar.external_links.enabled and site.external_links.links.size > 0 %}
	{% assign navbar_dropdown_external_links_html = null %}
	{% capture navbar_dropdown_external_links_html %}
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" id="navbarExternalMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if site.font_awesome.enabled %}
						<i class="icon-external-link"></i> 
					{% endif %}
					{{ site.external_links.header }} 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarExternalMenuLink">
					{% for navbar_external_link in site.external_links.links %}
						<li>
							<a href="{{ navbar_external_link.url }}" target="_blank" class="dropdown-item">
								{% if site.font_awesome.enabled %}
									<i class="icon-external-link"></i> 
								{% endif %}
								{{ navbar_external_link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
	{% endcapture %}
	{{ navbar_dropdown_external_links_html | strip_newlines | remove:'	' }}
{% endif %}