{% if site.navbar.github_projects.enabled and site.github_projects.projects.size > 0 %}
	{% assign navbar_dropdown_github_projects_html = null %}
	{% capture navbar_dropdown_github_projects_html %}
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" id="navbarGitHubMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if site.font_awesome.enabled %}
						<i class="icon-github-alt"></i> 
					{% endif %}
					{{ site.github_projects.header }} 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarGitHubMenuLink">
					{% for navbar_project in site.github_projects.projects %}
						<li>
							<a href="{{ navbar_project.url }}" target="_blank" class="dropdown-item">
								{% if site.font_awesome.enabled %}
									<i class="icon-github"></i> 
								{% endif %}
								{{ navbar_project.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
	{% endcapture %}
	{{ navbar_dropdown_github_projects_html | strip_newlines | remove:'	' }}
{% endif %}